.menu {
    display: block;
       
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-text-contacts);
  }

.menu__item:not(:last-child) {
    margin-right: 50px;
  }

   
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--link-text-menu);
    
}
  
    
  .menu__link:after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--transparent-color);
  
    transition: background-color var(--animation);
  }
  
  .menu__link:hover::after,
  .menu__link:focus::after {
    background-color: var(--accent-text-color);
  }
  
  .menu__link--current {
    color: var(--accent-text-color);
  
    transition: color var(--animation);
  }
  
  .menu__link--current:hover,
  .menu__link--current:focus {
  color: var(--bg-accent-col);
}

  .menu__link--current::after {
  content: "";
  background-color: var(--accent-text-color);
  bottom: -1px;
}

 .menu__link--current:hover::after,
 .menu__link--current:focus::after {
  color: var(--bg-accent-col);
}

  .menu__link {
    color: var(--link-text-menu);
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: var(--accent-text-color);
  }

  